.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.welcome {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcomeIntro {
  width: 50%;
  font-size: calc(5px + 2vmin);
}

.currentMovies {
  background-color: #4a576e;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movieBox {
  border-style: inset;
  border: black;
}

.beverages {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.food {
  background-color: #4a576e;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.seating {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userCreationWelcome {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userCreationRow {
  display: flex;
}

.userCreationColumn {
  flex: 100%;
  margin: 25px;
  background-color: #282c34;
  border: 3px solid black;
  padding: 10px 10px;
  text-align: center;
}

.signUpWelcome {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
  width: 90%;
  padding: 70px 0;
  text-align: center;
}

.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: auto;
  width: 25%;
  padding: 70px 0;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 100%;
  margin: 25px;
}

.App-link {
  color: #61dafb;
}

.loading {
  position: absolute;
  top: 50vh;
  z-index: 99;
  min-height: 100vh;
  min-width: 100vw;
}

.loadingWrapper{
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 98;
  min-height: 100vh;
  min-width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
