.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.welcome {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcomeIntro {
  width: 50%;
  font-size: calc(5px + 2vmin);
}

.currentMovies {
  background-color: #4a576e;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movieBox {
  border-style: inset;
  border: black;
}

.beverages {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.food {
  background-color: #4a576e;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rowFood {
  display: flex;
}

.columnFood {
  flex: 100%;
  margin: 25px;
}

.seating {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.userCreationWelcome {
  background-image: url("/images/seats.jpeg");
  background-color: #cccccc;
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 3%;
}

.userCreationForm {
  background-image: url("/images/gradientGrey.jpeg");
  background-color: #cccccc;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  width: 35%;
  margin: auto;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  border: 4px solid #000000;
  font-size: calc(5px + 2vmin);
  color: black;
}

.userCreationAlreadyMember {
  color: white;
}

.userButtons {
  font-size: calc(3px + 2vmin);
  color: #000000;
}

.login {
  background-image: url("/images/gradientGrey.jpeg");
  background-color: #cccccc;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: 282c34;
  width: 20%;
  text-align: center;
  border-radius: 25px;
  border: 4px solid #000000;
  padding: 3%;
  margin: auto;
}

.loginBody {
  background-image: url("/images/loginLights.jpeg");
  background-color: #cccccc;
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 5%;
}

.loginForgot {
  font-size: calc(5px + 1vmin);
}

.userDash {
  background-image: url("/images/gradientBackground.jpeg");
  background-color: #cccccc;
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: black;
  text-align: center;
  margin: auto;
}

.userUpdateDash {
  background-image: url("/images/gradientGrey.jpeg");
  background-color: #cccccc;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-size: calc(3px + 2vmin);
  color: black;
  width: 50%;
  border-radius: 25px;
  border: 4px solid #000000;
  padding: 3%;
  margin: auto;
  margin-top: 5%;
}

.App-link {
  color: #61dafb;
}

.loading {
  position: absolute;
  top: 50vh;
  z-index: 99;
  min-height: 100vh;
  min-width: 100vw;
}

.loadingWrapper{
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 98;
  min-height: 100vh;
  min-width: 100vw;
}


/* prevent title getting gut off in movie cards */
.ant-card-meta-title {
  white-space: pre-line;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-no-content > .ant-card-body{
  height: 0;
  overflow: hidden;
  padding:0;
}

.card-with-title >.ant-card-body{
  max-height: 20;
  overflow: hidden;
  padding:0;
}

.ant-card-head-title{
  text-align: center;
}

.seat{
  min-width: 35px;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #d9d9d9;
  height: 32px;
  font-size: 14px;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  touch-action: manipulation;
}

.seat-primary{
  min-width: 35px;
  padding: 0;
  margin: 0;
  color: black;
  background-color: #40a9ff;
  border: 1px solid #40a9ff;
  height: 32px;
  font-size: 14px;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  touch-action: manipulation;
}

.seat-disabled{
  min-width: 35px;
  padding: 0;
  margin: 0;
  color: black;
  background-color: #d9d9d9;;
  border: 1px solid #b9afaf;;
  height: 32px;
  font-size: 14px;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  touch-action: manipulation;
}


.seat:hover, .seat:focus{
  background:  #fff;
  border-color: #40a9ff;
}


.seat-primary:hover, .seat-primary:focus{
  background:  #1890FF;
  border-color: #40a9ff;
}

